{% extends "base.html" %}

{% block content %}

<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th scope="col">URL</th>
            <th scope="col">URL shortcut</th>
        </tr>
    </thead>
    <tbody>
        {% for item in item_list %}
        <tr>
            <td><a href='{{ item.url }}'>{{ item.url }}</a></td>
            <td><a href='/{{ item.url_shortcut }}'>{{ item.url_shortcut }}</a></td>
            <!-- <td>{{ item.url_shortcut }}</td> -->
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}